@import "content/basic-class.styl"

/*!
 * Typo
 */
body
	font normal $fontSize/$lineHeight $font
	color #000

/* Titles*/
h1
h2
h3
h4
h5
h6
	font-family $fontTitles
	font-weight bold
	line-height 1.2
	margin 1.5em 0 .5em
	color blue

h1
.h1
	font-size 32px
h2
	font-size 26px
h3
	font-size 18px

h4
	font-size 16px

h5
h6
	font-size 15px

/* Paragraph */
p
	margin 0 0 1.25em
hr
	border none
	border-top 1px solid #ddd
	margin 40px 0
	height 1px
	overflow hidden

/* Blockquote */
blockquote
	margin 0 0 1.25em
	padding 0
	p
		margin 0

/* Links */
a
	color $colorLink
	tap-highlight-color rgba(0,0,0,0);
	text-decoration underline
	transition color .3s
	&:hover
		color $colorHover


/* Lists */
ul
ol
	margin 0 0 1.25em
	list-style none
	padding 0
li
	padding 0 0 0 20px
	margin 0 0 .25em
	ol
	ul
		margin .25em 0 0
ul
	li
		background url($img+'ico/li.png') 0 6px no-repeat
ol
	counter-reset item
	li
		background none
		position relative
		&:before
		.ie-counter
			content counter(item)"."
			counter-increment item
			position absolute
			left 0
			top 0
			font-weight bold
			text-align left

dl
	margin 0 0 1.25em
dt
	font-weight bold
	margin 0
dd
	margin 0 0 .75em
	padding 0

/* Tables */
table
	width 100%
	clear both
	margin 0 0 1.25em
	empty-cells show
	border-collapse collapse
	border 1px solid #ddd

caption
	font-weight bold
	text-align left
	padding 0px 0px 10px
	caption-side top
td
th
	vertical-align top
	padding 7px 8px
	border 1px solid #ddd
th
	font-weight bold
thead th
	background #eee

/* Images */
img.l
	margin .25em 20px 20px 0
img.r
	margin .25em 0 20px 20px
